.opciones-tags{
  list-style: none;
  margin-top: 5px;
  padding: 0;
  background: #817f8a;
  border-radius: 5px;
  width: auto;
  max-width: 100%;
}

.opciones-tags li {
  padding: 5px;
  cursor: pointer;
  list-style: none;
  color: black;
}

.opciones-tags li:hover {
  background: #817f8a;
}