.form-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.botones-publicar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.mensaje-error {
  color: rgb(221, 8, 8);
  font-weight: bold;
  margin-top:0;
  text-align: start;
  font-size: medium;
}
.mensaje-exito{
    color: var(--verde-claro);
    margin-top: 20px;
}