.sidebar{
    width: 7.31rem;
    width: 12%;
    min-height: 100vh;
    border-radius: 8px;
    padding: 40px 16px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    background-color: #171D1F;
}
.navBotao{
    display: flex;
    flex-direction: column;
    gap: 16px;  
    align-items: center;
    color: #BCBCBC;
    font-size: 20px;
    background-color: transparent;
    border: 0;
}

